OPENAI_API_KEY=
OPENAI_BASE_URL=

# Local MongoDB: mongodb://localhost:27017
# MongoDB Atlas: mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=job_matcher
